<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Column</key>
	<real>21</real>
	<key>Row</key>
	<integer>5</integer>
	<key>Types</key>
	<integer>2</integer>
	<key>Wall0</key>
	<dict>
		<key>x1</key>
		<real>0.1</real>
		<key>x2</key>
		<real>20.1</real>
		<key>y1</key>
		<real>0.5</real>
		<key>y2</key>
		<real>0.5</real>
	</dict>
	<key>Wall1</key>
	<dict>
		<key>x1</key>
		<real>0.1</real>
		<key>x2</key>
		<real>20.1</real>
		<key>y1</key>
		<real>4.5</real>
		<key>y2</key>
		<real>4.5</real>
	</dict>
	<key>Wall2</key>
	<dict>
		<key>x1</key>
		<real>0.1</real>
		<key>x2</key>
		<real>0.1</real>
		<key>y1</key>
		<real>0.1</real>
		<key>y2</key>
		<real>4.5</real>
	</dict>
	<key>Wall3</key>
	<dict>
		<key>x1</key>
		<real>20.1</real>
		<key>x2</key>
		<real>20.1</real>
		<key>y1</key>
		<real>0.5</real>
		<key>y2</key>
		<real>4.5</real>
	</dict>
	<key>WallNum</key>
	<integer>6</integer>
	<key>Wall4</key>
	<dict>
		<key>x1</key>
		<real>8.5</real>
		<key>x2</key>
		<real>8.5</real>
		<key>y1</key>
		<real>0.5</real>
		<key>y2</key>
		<real>1.5</real>
	</dict>
	<key>Wall5</key>
	<dict>
		<key>x1</key>
		<real>8.5</real>
		<key>x2</key>
		<real>8.5</real>
		<key>y1</key>
		<real>3.5</real>
		<key>y2</key>
		<real>4.5</real>
	</dict>
	<key>amountOfWaltype0</key>
	<dict>
		<key>x1</key>
		<integer>30</integer>
		<key>x2</key>
		<integer>0</integer>
		<key>y1</key>
		<integer>0</integer>
		<key>y2</key>
		<integer>0</integer>
	</dict>
	<key>amountOfWaltype1</key>
	<dict>
		<key>x1</key>
		<integer>30</integer>
		<key>x2</key>
		<integer>0</integer>
		<key>y1</key>
		<integer>0</integer>
		<key>y2</key>
		<integer>0</integer>
	</dict>
	<key>areaOfWaltype0</key>
	<dict>
		<key>x1</key>
		<real>2.2</real>
		<key>x2</key>
		<real>5.6</real>
		<key>y1</key>
		<real>0.7</real>
		<key>y2</key>
		<real>3.6</real>
	</dict>
	<key>areaOfWaltype1</key>
	<dict>
		<key>x1</key>
		<real>9.199999999999999</real>
		<key>x2</key>
		<real>5.6</real>
		<key>y1</key>
		<real>0.7</real>
		<key>y2</key>
		<real>3.6</real>
	</dict>
	<key>exitOfWaltype0</key>
	<dict>
		<key>x1</key>
		<real>17</real>
		<key>x2</key>
		<real>17</real>
		<key>y1</key>
		<real>0.8</real>
		<key>y2</key>
		<real>3.3</real>
	</dict>
	<key>exitOfWaltype1</key>
	<dict>
		<key>x1</key>
		<real>0.4</real>
		<key>x2</key>
		<real>0.4</real>
		<key>y1</key>
		<real>0.8</real>
		<key>y2</key>
		<real>3.3</real>
	</dict>
</dict>
</plist>
