<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Column</key>
	<real>15.1</real>
	<key>Row</key>
	<real>5</real>
	<key>Types</key>
	<integer>1</integer>
	<key>Wall0</key>
	<dict>
		<key>x1</key>
		<real>0.5</real>
		<key>x2</key>
		<real>0.5</real>
		<key>y1</key>
		<real>0.5</real>
		<key>y2</key>
		<real>4.5</real>
	</dict>
	<key>Wall1</key>
	<dict>
		<key>x1</key>
		<real>0.5</real>
		<key>x2</key>
		<real>15</real>
		<key>y1</key>
		<real>0.5</real>
		<key>y2</key>
		<real>0.5</real>
	</dict>
	<key>Wall2</key>
	<dict>
		<key>x1</key>
		<real>0.5</real>
		<key>x2</key>
		<real>15</real>
		<key>y1</key>
		<real>4.5</real>
		<key>y2</key>
		<real>4.5</real>
	</dict>
	<key>Wall3</key>
	<dict>
		<key>x1</key>
		<real>15</real>
		<key>x2</key>
		<real>15</real>
		<key>y1</key>
		<real>0.5</real>
		<key>y2</key>
		<real>4.5</real>
	</dict>
	<key>Wall4</key>
	<dict>
		<key>x1</key>
		<real>8</real>
		<key>x2</key>
		<real>8</real>
		<key>y1</key>
		<real>0.5</real>
		<key>y2</key>
		<real>2.1</real>
	</dict>
	<key>Wall5</key>
	<dict>
		<key>x1</key>
		<integer>8</integer>
		<key>x2</key>
		<integer>8</integer>
		<key>y1</key>
		<integer>3</integer>
		<key>y2</key>
		<real>4.5</real>
	</dict>
	<key>Wall6</key>
	<dict>
		<key>x1</key>
		<integer>8</integer>
		<key>x2</key>
		<real>10.8</real>
		<key>y1</key>
		<real>2.1</real>
		<key>y2</key>
		<real>2.1</real>
	</dict>
	<key>Wall7</key>
	<dict>
		<key>x1</key>
		<integer>8</integer>
		<key>x2</key>
		<real>10.8</real>
		<key>y1</key>
		<integer>3</integer>
		<key>y2</key>
		<integer>3</integer>
	</dict>
	<key>WallNum</key>
	<integer>8</integer>
	<key>amountOfWaltype0</key>
	<dict>
		<key>x1</key>
		<real>60</real>
		<key>x2</key>
		<real>0</real>
		<key>y1</key>
		<real>0</real>
		<key>y2</key>
		<real>0</real>
	</dict>
	<key>areaOfWaltype0</key>
	<dict>
		<key>x1</key>
		<real>0.7</real>
		<key>x2</key>
		<real>4.1</real>
		<key>y1</key>
		<real>0.7</real>
		<key>y2</key>
		<real>3.6</real>
	</dict>
	<key>exitOfWaltype0</key>
	<dict>
		<key>x1</key>
		<real>12</real>
		<key>x2</key>
		<real>12</real>
		<key>y1</key>
		<real>0.6</real>
		<key>y2</key>
		<real>4.4</real>
	</dict>
</dict>
</plist>
